* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
}

body {
	background: #5F5F5F;
}

hr {
	margin-bottom: 10px;
	margin-top: 10px;
}

.forDisplay {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	clear: both;
	margin-right: auto;
}

.displayLabel {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 1px solid grey;
	border-left: 1px solid grey;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

.displayLabel:hover {
	background: #a7a4a4;
}

button {
	padding: 5px;
}

.wrap {
	display: flex;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;

}

.title {
	text-align: center;
}

/* ==== two main blocks ========================================== */
.workField, .sideBar {
	border: 2px solid #B6B6B6;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	background: #BABABA;
	box-shadow: 0px 10px 31px 0px rgba(0,0,0,0.59),
				inset 0px 0px 87px 14px rgba(138,138,138,1);
}
.workField {
	width: 65%;
}

.sideBar {
	width: 35%;
}
/* ==== // two main blocks ========================================== */

.workStuff {
	height: 0px;
	overflow: hidden;
	transition: all .3s;
	
	overflow: hidden;
}



.bordered {
	background: #87B278
}

.listItem {
	margin-bottom: 10px;
	display: block;
	cursor: pointer;
	transition: all .3s;
}

.listTitle:hover, .listTitle:active {
	background: #787777;
	box-shadow: 0 2px 10px 1px black;
}

.listTitle {
	transition: all .3s;
	font-size: 14px;
	font-weight: bold;
	width: 100%;
	background: #696969;
	padding: 5px;

}

.listItem:hover .listTitle {
	padding-left: 20px;

}

.workStuff {
	padding: 0 10px;
}

.workStuff input {
	padding: 5px;
	border-radius: 5px;
	margin-bottom: 10px;
	display: block;
}


.show {
	height: auto;
	padding: 10px;
	padding-top: 20px;
}


.createBtn {
	margin-top: 10px;
}

.light {
	background: #ce4a4a;
}

.ex_list {
	cursor: pointer;
	display: flex;
	justify-content: space-between;
	align-items: flex-center;
	border-bottom: 1px solid grey;
	padding: 3px;
}

.ex_list:hover {
	background: #757575;
	border-bottom: 1px solid #3E3E3E;
}


/*popup=====================================*/
.modal_show {
	display: block;
}

.modal_wrap {
	width: 100%;
	height: 100%;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(55,55,55, .6);
}



.mainInfBlock {
	position: relative;
	width: 600px;
	height: 400px;
	margin: 0 auto;
	background: #9B9B9B;
	margin-top: 50px;
	border-radius: 5px;
	border: 2px solid #F0F0F0;
	padding: 10px;
}

.close {
	position: absolute;
	background: #C8C8C8;
	display: block;
	text-align: center;
	line-height: 17px;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	border: 2px solid black;
	cursor: pointer;
	right: -10px;
	top: -10px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
}

.close:hover {
	border: 2px solid #FF0000;
	color: #FF0000;
}

.modalItem {
	margin-bottom: 10px;
}

.modText-1 {
	color: #086900;
}

.modText-2 {
	color: #F72222;
}